{{<partials-layout}}
  {{$menu}}
    <main id="content" class="main" role="main">
  {{/menu}}
  {{$content}}
      <h1 class="heading-large">
        <span lang="en">Your electronic visa waiver is ready</span>
        <span lang="ar">الإعفاء الإلكتروني من التأشيرة جاهز</span>
      </h1>
      <form action="/download-photo" method="GET" autocomplete="off" novalidate="true" spellcheck="false">

        <div id="passport-number-group" class="form-group  form-group">
        <label for="passport-number" class="form-label-bold">
          <span lang="en">What is your passport number?</span><span lang="ar">ما رقم جواز سفرك؟</span>
          <span id="passport-number-hint" class="form-hint"><span lang="en">Use the number on your passport photo page. Include any starting zeros</span><span lang="ar">أدخله بالضبط كما هو مبين في صفحة المعلومات الشخصية في جواز سفرك بما فيه الأصفار البادئة</span></span>
          
        </label>
        <input type="text" name="passport-number" id="passport-number" class="form-control" aria-required="true" maxlength="15" aria-describedby="passport-number-hint">
      </div>
        
      <div id="date-of-birth-group" class="form-group">
        <legend class="form-label-bold"><span lang="en">What is your date of birth?</span><span lang="ar">ما جنسك؟</span></legend>
          <div class="form-date">
            <p class="form-hint"><span lang="en">Enter what is written in your passport. For example, 22 3 1979</span><span lang="ar">أدخل تاريخ الولادة كما هو مكتوبا في جواز سفرك. على سبيل المثال، 1979 3 22</span></p>
            <div id="date-of-birth-day-group" class="form-group ">
          <label for="date-of-birth-day" class="form-label-bold">
            <span lang="en">Day</span><span lang="ar">اليوم</span>
            
            
          </label>
          <input type="text" name="date-of-birth-day" id="date-of-birth-day" class="form-control" aria-required="false" min="1" max="31" maxlength="2" pattern="[0-9]*" aria-describedby="date-of-birth-hint">
        </div>

        <div id="date-of-birth-month-group" class="form-group ">
          <label for="date-of-birth-month" class="form-label-bold">
            <span lang="en">Month</span><span lang="ar">الشهر</span>
            
            
          </label>
          <input type="text" name="date-of-birth-month" id="date-of-birth-month" class="form-control" aria-required="false" min="1" max="12" maxlength="2" pattern="[0-9]*" aria-describedby="date-of-birth-hint">
        </div>

          <div id="date-of-birth-year-group" class="form-group ">
            <label for="date-of-birth-year" class="form-label-bold">
              <span lang="en">Year</span><span lang="ar">السنة</span>
              
              
            </label>
            <input type="text" name="date-of-birth-year" id="date-of-birth-year" class="form-control" aria-required="false" maxlength="4" pattern="[0-9]*" aria-describedby="date-of-birth-hint">
          </div>

        </div>
      </div>

        <button class="button" id="continue" type="submit">
          <span lang="en">Confirm details</span>
          <span lang="ar">أكد المعلومات</span>
        </button>
      </div>
      </form>
    </main>
  {{/content}}
{{/partials-layout}}
